<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

# Laboratorio API's 

SetMagic Productions es una empresa especializada en la provisión de servicios integrales para la realización de rodajes cinematográficos y audiovisuales. Nos dedicamos a facilitar tanto el atrezzo necesario para las producciones como los lugares idóneos para llevar a cabo los rodajes, ya sea en entornos al aire libre o en interiores.

**Servicios Ofrecidos:**

- **Atrezzo Creativo:** Contamos con un extenso catálogo de atrezzo que abarca desde accesorios hasta muebles y objetos temáticos para ambientar cualquier tipo de  escena.

- **Locaciones Únicas:** Nuestra empresa ofrece una amplia selección de locaciones, que incluyen desde escenarios naturales como playas, bosques y montañas, hasta espacios interiores como estudios, casas históricas y edificios emblemáticos.

- **Servicios de Producción:** Además de proporcionar atrezzo y locaciones, también ofrecemos servicios de producción audiovisual, incluyendo equipos de filmación, personal técnico y servicios de postproducción.

**Herramientas y Tecnologías:**

Para recopilar información sobre nuevas locaciones y tendencias en atrezzo, utilizamos herramientas de web scraping como Beautiful Soup y Selenium para extraer datos de sitios web relevantes y redes sociales especializadas en cine y producción audiovisual. También integramos APIs de plataformas de alquiler de locaciones y bases de datos de atrezzo para acceder a información actualizada y detallada.

**Almacenamiento de Datos:**

La información recopilada mediante web scraping y APIs se almacena en una base de datos no relacional MongoDB. Esta base de datos nos permite organizar eficientemente la información sobre locaciones, atrezzo, clientes y proyectos en curso, facilitando su acceso y gestión.

**Objetivo:**

Nuestro objetivo principal es proporcionar a nuestros clientes una experiencia fluida y personalizada en la búsqueda y selección de locaciones y atrezzo para sus proyectos audiovisuales. Utilizando tecnologías avanzadas y una amplia red de contactos en la industria, nos esforzamos por ofrecer soluciones creativas y de alta calidad que satisfagan las necesidades específicas de cada producción.


# Lab: APIs y Obtención de Datos de Localizaciones para Rodajes

En este laboratorio aprenderás a utilizar APIs para obtener información sobre localizaciones de rodaje en la Comunidad de Madrid. A lo largo de este ejercicio, implementarás funciones que te permitirán extraer coordenadas, buscar lugares de interés y almacenar la información en un formato que puedas reutilizar.

## Objetivo

Obtener información geográfica y sobre posibles localizaciones para rodajes en diferentes municipios de la Comunidad de Madrid, utilizando APIs como **Geopy** y **Foursquare**.

### Paso 1: Obtener Coordenadas de los Municipios

Primero, necesitas obtener las coordenadas geográficas (latitud y longitud) de cada municipio en la Comunidad de Madrid. Para esto, utilizarás la biblioteca **Geopy** y su funcionalidad para geocodificar. La lista de los municipios de la Comunidad de Madrid es:

```python
lista_municipios = ['acebeda-la', 'ajalvir', 'alameda-del-valle', 'alamo-el', 'alcala-de-henares', 'alcobendas', 'alcorcon', 'aldea-del-fresno', 'algete', 'alpedrete', 'ambite', 'anchuelo', 'aranjuez', 'arganda-del-rey', 'arroyomolinos', 'atazar-el', 'batres', 'becerril-de-la-sierra', 'belmonte-de-tajo', 'berrueco-el', 'berzosa-del-lozoya', 'boadilla-del-monte', 'boalo-el', 'braojos', 'brea-de-tajo', 'brunete', 'buitrago-del-lozoya', 'bustarviejo', 'cabanillas-de-la-sierra', 'cabrera-la', 'cadalso-de-los-vidrios', 'camarma-de-esteruelas', 'campo-real', 'canencia', 'carabana', 'casarrubuelos', 'cenicientos', 'cercedilla', 'cervera-de-buitrago', 'chapineria', 'chinchon', 'ciempozuelos', 'cobena', 'collado-mediano', 'collado-villalba', 'colmenar-del-arroyo', 'colmenar-de-oreja', 'colmenarejo', 'colmenar-viejo', 'corpa', 'coslada', 'cubas-de-la-sagra', 'daganzo-de-arriba', 'escorial-el', 'estremera', 'fresnedillas-de-la-oliva', 'fresno-de-torote', 'fuenlabrada', 'fuente-el-saz-de-jarama', 'fuentiduena-de-tajo', 'galapagar', 'garganta-de-los-montes', 'gargantilla-del-lozoya-y-pinilla-de-buitrago', 'gascones', 'getafe', 'grinon', 'guadalix-de-la-sierra', 'guadarrama', 'hiruela-la', 'horcajo-de-la-sierra-aoslos', 'horcajuelo-de-la-sierra', 'hoyo-de-manzanares', 'humanes-de-madrid', 'leganes', 'loeches', 'lozoya', 'lozoyuela-navas-sieteiglesias', 'madarcos', 'madrid', 'majadahonda', 'manzanares-el-real', 'meco', 'mejorada-del-campo', 'miraflores-de-la-sierra', 'molar-el', 'molinos-los', 'montejo-de-la-sierra', 'moraleja-de-enmedio', 'moralzarzal', 'morata-de-tajuna', 'mostoles', 'navacerrada', 'navalafuente', 'navalagamella', 'navalcarnero', 'navarredonda-y-san-mames', 'navas-del-rey', 'nuevo-baztan', 'olmeda-de-las-fuentes', 'orusco-de-tajuna', 'paracuellos-de-jarama', 'parla', 'patones', 'pedrezuela', 'pelayos-de-la-presa', 'perales-de-tajuna', 'pezuela-de-las-torres', 'pinilla-del-valle', 'pinto', 'pinuecar-gandullas', 'pozuelo-de-alarcon', 'pozuelo-del-rey', 'pradena-del-rincon', 'puebla-de-la-sierra', 'puentes-viejas-manjiron', 'quijorna', 'rascafria', 'reduena', 'ribatejada', 'rivas-vaciamadrid', 'robledillo-de-la-jara', 'robledo-de-chavela', 'robregordo', 'rozas-de-madrid-las', 'rozas-de-puerto-real', 'san-agustin-del-guadalix', 'san-fernando-de-henares', 'san-lorenzo-de-el-escorial', 'san-martin-de-la-vega', 'san-martin-de-valdeiglesias', 'san-sebastian-de-los-reyes', 'santa-maria-de-la-alameda', 'santorcaz', 'santos-de-la-humosa-los', 'serna-del-monte-la', 'serranillos-del-valle', 'sevilla-la-nueva', 'somosierra', 'soto-del-real', 'talamanca-de-jarama', 'tielmes', 'titulcia', 'torrejon-de-ardoz', 'torrejon-de-la-calzada', 'torrejon-de-velasco', 'torrelaguna', 'torrelodones', 'torremocha-de-jarama', 'torres-de-la-alameda', 'tres-cantos', 'valdaracete', 'valdeavero', 'valdelaguna', 'valdemanco', 'valdemaqueda', 'valdemorillo', 'valdemoro', 'valdeolmos-alalpardo', 'valdepielagos', 'valdetorres-de-jarama', 'valdilecha', 'valverde-de-alcala', 'velilla-de-san-antonio', 'vellon-el', 'venturada', 'villaconejos', 'villa-del-prado', 'villalbilla', 'villamanrique-de-tajo', 'villamanta', 'villamantilla', 'villanueva-de-la-canada', 'villanueva-del-pardillo', 'villanueva-de-perales', 'villar-del-olmo', 'villarejo-de-salvanes', 'villaviciosa-de-odon', 'villavieja-del-lozoya', 'zarzalejo']
```

1. Instalar y configurar la biblioteca de Geopy para realizar la geocodificación.

2. Crear una función que reciba una lista de municipios y devuelva un DataFrame con los nombres de los municipios y sus respectivas coordenadas (latitud y longitud).

3. Validar los datos obtenidos para verificar si hay municipios sin coordenadas y resolver posibles problemas, como nombres incorrectos o faltantes.


### Paso 2: Buscar Localizaciones Relevantes con la API de Foursquare

Una vez obtenidas las coordenadas de los municipios, utilizarás la API de Foursquare para buscar servicios que pueden ser importantes en un rodaje (ej: parques, edificios históricos, plazas).

En este punto es importante que reflexiones sobre los servicios o establecimientos clave que considerarías relevantes para establecer una empresa de servicios para rodajes. No hay una única respuesta correcta, ya que depende de la estrategia y visión que tengas. Al menos deberás elegir 5 tipos de servicios que puedan influir en la decisión de ubicación. Ejemplos de estos servicios pueden incluir:

- Parques o áreas verdes para rodajes exteriores.

- Centros comerciales que faciliten acceso a diferentes necesidades logísticas.

- Bares o restaurantes para el catering del equipo.

- Tiendas especializadas en disfraces o vestuario.

- Alquileres de equipos audiovisuales.

Es crucial entender que esta selección depende de la naturaleza y enfoque de la empresa. Tal vez para algunos proyectos sea más importante estar cerca de áreas residenciales o lugares con buena conexión de transporte. Otros proyectos podrían priorizar la proximidad a tiendas especializadas o servicios de entretenimiento. Es vuestra decisión! 

1. Crear una cuenta en [Foursquare](https://location.foursquare.com/developer/) y obtener la API Key necesaria para realizar las solicitudes. Leer la documentación para entender como funciona. 

2. Definir una función para realizar búsquedas de lugares cercanos a las coordenadas de cada municipio. Esta función debe permitir filtrar los resultados por categoría y distancia.

3. Explorar las categorías disponibles en Foursquare y seleccionar aquellas que se ajusten a los servicios clave que decidáis para vuestra estrategia.

4. Aplicar la función de búsqueda a cada municipio, recopilando información sobre los lugares relevantes.

Recuerda que la elección de categorías es un punto de análisis clave en este ejercicio, ya que la información que obtendréis será fundamental para decidir la ubicación ideal para vuestra empresa. Aseguraos de justificar vuestras decisiones y considerar diferentes perspectivas. Para cada una de los municipios deberás sacar la información de todos los servicios elegidos. 

### Paso 3: Limpieza de la Información

La información obtenida de Foursquare puede incluir muchos detalles innecesarios. Tu objetivo es quedarte únicamente con los campos relevantes para tu análisis (nombre, dirección, coordenadas, tipo de lugar, etc.).


1. Explorar la estructura de los datos obtenidos para identificar los campos importantes y limpiar la información.

2. Eliminar duplicados y valores nulos para garantizar la consistencia y calidad de los datos.

### Paso 4: Almacenamiento de los Datos

Una vez que tengas la información limpia y organizada, almacénala en un archivo CSV que puedas reutilizar en futuros análisis.

1. Instalar y configurar la biblioteca de Geopy para realizar la geocodificación.

In [1]:
import requests
import pandas as pd
from geopy.geocoders import Nominatim

2. Crear una función que reciba una lista de municipios y devuelva un DataFrame con los nombres de los municipios y sus respectivas coordenadas (latitud y longitud).

In [2]:
geolocator = Nominatim(user_agent="api-locaciones")

# Función para obtener las coordenadas de un municipio
def obtenercoordenadas(municipio):
    location = geolocator.geocode(municipio)
    if location:
        return (municipio, location.latitude, location.longitude)
    else:
        print(f"No se encontraron coordenadas para {municipio}")
        return None

In [3]:
lista_municipios = ['acebeda-la', 'ajalvir', 'alameda-del-valle', 'alamo-el', 'alcala-de-henares', 'alcobendas', 'alcorcon', 'aldea-del-fresno', 'algete', 'alpedrete',
                    'ambite', 'anchuelo', 'aranjuez', 'arganda-del-rey', 'arroyomolinos', 'atazar-el', 'batres', 'becerril-de-la-sierra', 'belmonte-de-tajo', 'berrueco-el',
                    'berzosa-del-lozoya', 'boadilla-del-monte', 'boalo-el', 'braojos', 'brea-de-tajo', 'brunete', 'buitrago-del-lozoya', 'bustarviejo',
                    'cabanillas-de-la-sierra', 'cabrera-la', 'cadalso-de-los-vidrios', 'camarma-de-esteruelas', 'campo-real', 'canencia', 'carabana', 'casarrubuelos',
                    'cenicientos', 'cercedilla', 'cervera-de-buitrago', 'chapineria', 'chinchon', 'ciempozuelos', 'cobena', 'collado-mediano', 'collado-villalba',
                    'colmenar-del-arroyo', 'colmenar-de-oreja', 'colmenarejo', 'colmenar-viejo', 'corpa', 'coslada', 'cubas-de-la-sagra', 'daganzo-de-arriba',
                    'escorial-el', 'estremera', 'fresnedillas-de-la-oliva', 'fresno-de-torote', 'fuenlabrada', 'fuente-el-saz-de-jarama', 'fuentiduena-de-tajo',
                    'galapagar', 'garganta-de-los-montes', 'gargantilla-del-lozoya-y-pinilla-de-buitrago', 'gascones', 'getafe', 'grinon', 'guadalix-de-la-sierra',
                    'guadarrama', 'hiruela-la', 'horcajo-de-la-sierra-aoslos', 'horcajuelo-de-la-sierra', 'hoyo-de-manzanares', 'humanes-de-madrid', 'leganes',
                    'loeches', 'lozoya', 'lozoyuela-navas-sieteiglesias', 'madarcos', 'madrid', 'majadahonda', 'manzanares-el-real', 'meco',
                    'mejorada-del-campo', 'miraflores-de-la-sierra', 'molar-el', 'molinos-los', 'montejo-de-la-sierra', 'moraleja-de-enmedio', 'moralzarzal', 
                    'morata-de-tajuna', 'mostoles', 'navacerrada', 'navalafuente', 'navalagamella', 'navalcarnero', 'navarredonda-y-san-mames', 'navas-del-rey', 
                    'nuevo-baztan', 'olmeda-de-las-fuentes', 'orusco-de-tajuna', 'paracuellos-de-jarama', 'parla', 'patones', 'pedrezuela', 'pelayos-de-la-presa',
                    'perales-de-tajuna', 'pezuela-de-las-torres', 'pinilla-del-valle', 'pinto', 'pinuecar-gandullas', 'pozuelo-de-alarcon', 'pozuelo-del-rey', 
                    'pradena-del-rincon', 'puebla-de-la-sierra', 'puentes-viejas-manjiron', 'quijorna', 'rascafria', 'reduena', 'ribatejada', 'rivas-vaciamadrid', 
                    'robledillo-de-la-jara', 'robledo-de-chavela', 'robregordo', 'rozas-de-madrid-las', 'rozas-de-puerto-real', 'san-agustin-del-guadalix', 
                    'san-fernando-de-henares', 'san-lorenzo-de-el-escorial', 'san-martin-de-la-vega', 'san-martin-de-valdeiglesias', 'san-sebastian-de-los-reyes', 
                    'santa-maria-de-la-alameda', 'santorcaz', 'santos-de-la-humosa-los', 'serna-del-monte-la', 'serranillos-del-valle', 'sevilla-la-nueva', 'somosierra', 
                    'soto-del-real', 'talamanca-de-jarama', 'tielmes', 'titulcia', 'torrejon-de-ardoz', 'torrejon-de-la-calzada', 'torrejon-de-velasco', 'torrelaguna', 
                    'torrelodones', 'torremocha-de-jarama', 'torres-de-la-alameda', 'tres-cantos', 'valdaracete', 'valdeavero', 'valdelaguna', 'valdemanco', 'valdemaqueda', 
                    'valdemorillo', 'valdemoro', 'valdeolmos-alalpardo', 'valdepielagos', 'valdetorres-de-jarama', 'valdilecha', 'valverde-de-alcala', 'velilla-de-san-antonio', 
                    'vellon-el', 'venturada', 'villaconejos', 'villa-del-prado', 'villalbilla', 'villamanrique-de-tajo', 'villamanta', 'villamantilla', 'villanueva-de-la-canada', 
                    'villanueva-del-pardillo', 'villanueva-de-perales', 'villar-del-olmo', 'villarejo-de-salvanes', 'villaviciosa-de-odon', 'villavieja-del-lozoya', 'zarzalejo']

In [4]:
lista_municipios1 = ['acebeda-la', 'ajalvir', 'alameda-del-valle', 'alamo-el', 'alcala-de-henares', 'alcobendas', 'alcorcon', 'aldea-del-fresno', 'algete', 'alpedrete']

In [5]:
obtenercoordenadas('alcala-de-henares')

('alcala-de-henares', 40.4818396, -3.3644973)

In [6]:
def obtenercoordenadaslista(lista):
    listacoordenadas=[]
    for unidad in lista:
        i=obtenercoordenadas(unidad)
        listacoordenadas.append(i)
    return pd.DataFrame(listacoordenadas)

In [7]:
df_municipios=obtenercoordenadaslista(lista_municipios)

In [8]:
df_municipios

                         0          1         2
0               acebeda-la  41.086958 -3.624399
1                  ajalvir  40.534230 -3.480782
2        alameda-del-valle  40.917718 -3.843822
3                 alamo-el  40.230730 -3.990589
4        alcala-de-henares  40.481840 -3.364497
..                     ...        ...       ...
174        villar-del-olmo  40.336447 -3.235562
175  villarejo-de-salvanes  40.168358 -3.273876
176   villaviciosa-de-odon  40.357379 -3.900233
177  villavieja-del-lozoya  41.006362 -3.671629
178              zarzalejo  40.539281 -4.162484

[179 rows x 3 columns]

In [9]:
df_municipios1=obtenercoordenadaslista(lista_municipios1)

In [10]:
df_municipios1

                   0          1         2
0         acebeda-la  41.086958 -3.624399
1            ajalvir  40.534230 -3.480782
2  alameda-del-valle  40.917718 -3.843822
3           alamo-el  40.230730 -3.990589
4  alcala-de-henares  40.481840 -3.364497
5         alcobendas  40.540008 -3.635849
6           alcorcon  40.349300 -3.828429
7   aldea-del-fresno  40.321521 -4.199360
8             algete  40.596165 -3.497425
9          alpedrete  40.659900 -4.025122

In [11]:
diccionario_df={0:'municipio',
                1:'latitud',
                2:'longitud'
                }

In [12]:
df_municipios=df_municipios.rename(columns=diccionario_df)
df_municipios

                 municipio    latitud  longitud
0               acebeda-la  41.086958 -3.624399
1                  ajalvir  40.534230 -3.480782
2        alameda-del-valle  40.917718 -3.843822
3                 alamo-el  40.230730 -3.990589
4        alcala-de-henares  40.481840 -3.364497
..                     ...        ...       ...
174        villar-del-olmo  40.336447 -3.235562
175  villarejo-de-salvanes  40.168358 -3.273876
176   villaviciosa-de-odon  40.357379 -3.900233
177  villavieja-del-lozoya  41.006362 -3.671629
178              zarzalejo  40.539281 -4.162484

[179 rows x 3 columns]

In [13]:
df_municipios1=df_municipios1.rename(columns=diccionario_df)
df_municipios1

           municipio    latitud  longitud
0         acebeda-la  41.086958 -3.624399
1            ajalvir  40.534230 -3.480782
2  alameda-del-valle  40.917718 -3.843822
3           alamo-el  40.230730 -3.990589
4  alcala-de-henares  40.481840 -3.364497
5         alcobendas  40.540008 -3.635849
6           alcorcon  40.349300 -3.828429
7   aldea-del-fresno  40.321521 -4.199360
8             algete  40.596165 -3.497425
9          alpedrete  40.659900 -4.025122

3. Validar los datos obtenidos para verificar si hay municipios sin coordenadas y resolver posibles problemas, como nombres incorrectos o faltantes.

In [14]:
nulos1=df_municipios['latitud'].isnull()
nulos1.unique()

array([False])

In [15]:
nulos2=df_municipios['longitud'].isnull()
nulos2.unique()

array([False])

In [16]:
df_municipios['latitud'].duplicated().unique()

array([False])

In [17]:
df_municipios['longitud'].duplicated().unique()

array([False])

In [18]:
df_municipios['longitud'].duplicated().unique()

array([False])

In [19]:
df_municipios['municipio']=df_municipios['municipio'].replace(r"-"," ", regex=True).str.capitalize()

In [20]:
df_municipios1['municipio']=df_municipios1['municipio'].replace(r"-"," ", regex=True).str.capitalize()

In [21]:
df_municipios

                 municipio    latitud  longitud
0               Acebeda la  41.086958 -3.624399
1                  Ajalvir  40.534230 -3.480782
2        Alameda del valle  40.917718 -3.843822
3                 Alamo el  40.230730 -3.990589
4        Alcala de henares  40.481840 -3.364497
..                     ...        ...       ...
174        Villar del olmo  40.336447 -3.235562
175  Villarejo de salvanes  40.168358 -3.273876
176   Villaviciosa de odon  40.357379 -3.900233
177  Villavieja del lozoya  41.006362 -3.671629
178              Zarzalejo  40.539281 -4.162484

[179 rows x 3 columns]

In [22]:
def mover_articulo(texto):
    palabras = texto.split()
    if palabras[-1].lower() in ['el', 'la', 'los', 'las']: 
        articulo = palabras.pop()  
        return f"{articulo} {' '.join(palabras)}"  
    return texto  

df_municipios['municipio']=df_municipios['municipio'].apply(mover_articulo).str.capitalize()

In [23]:
df_municipios1['municipio']=df_municipios1['municipio'].apply(mover_articulo).str.capitalize()

In [24]:
df_municipios1

           municipio    latitud  longitud
0         La acebeda  41.086958 -3.624399
1            Ajalvir  40.534230 -3.480782
2  Alameda del valle  40.917718 -3.843822
3           El alamo  40.230730 -3.990589
4  Alcala de henares  40.481840 -3.364497
5         Alcobendas  40.540008 -3.635849
6           Alcorcon  40.349300 -3.828429
7   Aldea del fresno  40.321521 -4.199360
8             Algete  40.596165 -3.497425
9          Alpedrete  40.659900 -4.025122

In [25]:
df_municipios.to_csv('lista_de_municipios.csv')

In [26]:
df_municipios=pd.read_csv('lista_de_municipios.csv')

1. Crear una cuenta en [Foursquare](https://location.foursquare.com/developer/) y obtener la API Key necesaria para realizar las solicitudes. Leer la documentación para entender como funciona.

Creada

2. Definir una función para realizar búsquedas de lugares cercanos a las coordenadas de cada municipio. Esta función debe permitir filtrar los resultados por categoría y distancia.

In [38]:
import os
import dotenv as dotenv
dotenv.load_dotenv()
API_KEY=os.getenv("key")

In [39]:
def buscar_lugares(latitud,longitud, categoria, radio):
    url = "https://api.foursquare.com/v3/places/search"
    headers = {
        "accept": "application/json",
        "Authorization": f"{API_KEY}" 
    }
    
    params = {
        "ll": f"{latitud},{longitud}",  # Coordenadas
        "radius": radio,  
        "categories": categoria,
        "limit": 50,
        "fields":'name,distance,location'
    }
    
    response = requests.get(url, headers=headers, params=params)
    return response.json()

In [40]:
buscar_lugares(41.086958,-3.624399,13065,3000)

{'results': [{'distance': 36,
   'location': {'address': 'Calle Encerradero, 2',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': '',
    'formatted_address': 'Calle Encerradero, 2, 28755 La Acebeda Comunidad de Madrid',
    'locality': 'La Acebeda',
    'postcode': '28755',
    'region': 'Comunidad de Madrid'},
   'name': 'La Posada de los Vientos'},
  {'distance': 113,
   'location': {'address': 'Calle Puerto, 2',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'formatted_address': 'Calle Puerto, 2, 28755 La Acebeda Comunidad de Madrid',
    'locality': 'La Acebeda',
    'postcode': '28755',
    'region': 'Comunidad de Madrid'},
   'name': 'El Acebo'}],
 'context': {'geo_bounds': {'circle': {'center': {'latitude': 41.086958,
     'longitude': -3.624399},
    'radius': 3000}}}}

In [75]:
def buscar_lugares_por_municipios(df_municipios, categoria, radio):
    url = "https://api.foursquare.com/v3/places/search"
    headers = {
        "accept": "application/json",
        "Authorization": f"{API_KEY}" 
    }

    resultados = []  

    for idx, row in df_municipios.iterrows():
        latitud = row['latitud']
        longitud = row['longitud']
        municipio = row['municipio']
        
        params = {
            "ll": f"{latitud},{longitud}",  # Coordenadas
            "radius": radio,  
            "categories": categoria,
            "limit": 50, 
            "fields": 'name,distance,location,geocodes'
        }

        response = requests.get(url, headers=headers, params=params)
        data = response.json()

        lugares = data.get('results', [])

        for lugar in lugares:
            nombre = lugar.get('name')
            distancia = lugar.get('distance')
            location = lugar.get('location')

            resultados.append({
                'Municipio': municipio,
                'Latitud': latitud,
                'Longitud': longitud,
                'Categoria':categoria,
                'Nombre del Lugar': nombre,
                'Distancia (m)': distancia,
                'Location': location

            })

    df_resultados = pd.DataFrame(resultados)
    
    return df_resultados

In [63]:
lugares=buscar_lugares_por_municipios(df_municipios1,10027,3000)
lugares

,Municipio,Latitud,Longitud,Nombre del Lugar,Distancia (m),Location
0,Alcala de henares,40.481840,-3.364497,Museo Arqueológico Regional,418,"{'address': 'Plaza Bernardas, s/n', 'admin_reg..."
1,Alcala de henares,40.481840,-3.364497,Museo Casa Natal de Cervantes,223,"{'address': 'Calle Mayor, 48', 'address_extend..."
2,Alcala de henares,40.481840,-3.364497,Centro de Interpretación los Universos de Cerv...,92,"{'address': 'Plaza de Cervantes, s/n', 'admin_..."
3,Alcala de henares,40.481840,-3.364497,Museo de Arte Iberoamericano de la UAH,230,"{'address': 'Plaza de San Diego, s/n', 'admin_..."
4,Alcala de henares,40.481840,-3.364497,Museo Cisneriano,668,"{'address': 'Paseo Estación, 10', 'admin_regio..."
5,Alcala de henares,40.481840,-3.364497,Museo Perfumería Gal,1271,"{'address': 'Avenida de Madrid, 28', 'admin_re..."
6,Alcala de henares,40.481840,-3.364497,Convento de la Madre de Dios,387,"{'admin_region': 'Comunidad de Madrid', 'count..."
7,Alcala de henares,40.481840,-3.364497,Palacio Arzobispal,664,"{'address': 'Plaza Puerta de Madrid, s/n', 'ad..."
8,Alcobendas,40.540008,-3.635849,Centro de Arte Alcobendas,460,"{'address': 'Calle Mariano Sebastián Izuel, Nº..."
9,Alcobendas,40.540008,-3.635849,Museo Nacional de Ciencia y Tecnologia MUNCYT,508,"{'address': 'Calle Pintor Velazquez, 5', 'admi..."
10,Alcobendas,40.540008,-3.635849,MUNCYT Alcobendas,427,"{'address': 'Pintor Velázquez, 5', 'admin_regi..."
11,Alcobendas,40.540008,-3.635849,Museo Etnográfico el Caserón,1205,"{'address': 'Plaza de la Constitución, s/n', '..."
12,Alcorcon,40.349300,-3.828429,MAVA - Museo de Arte en Vídrio de Alcorcón,1909,"{'address': 'Avenida de los Castillos, s/n', '..."
13,Alcorcon,40.349300,-3.828429,Museo de Aeronáutica y Astronáutica de España,2681,"{'address': 'Carretera de Extremadura, Km 10,5..."
14,Alcorcon,40.349300,-3.828429,Colección municipal de arte contemporáneo de A...,768,"{'address': 'Avenida Pablo Iglesias, s/n', 'ad..."
15,Alcorcon,40.349300,-3.828429,Museo Municipal de Arte en Vidrio,1895,"{'address': 'Avenida los Castillos, 0', 'admin..."
16,Alpedrete,40.659900,-4.025122,Museo de Astronomía y Geodesia,1214,"{'address': 'Plaza Ciencias, 3', 'admin_region..."
17,Alpedrete,40.659900,-4.025122,Formacion y Reciclaje en Seguridad,2475,"{'address': 'Carretera Nacional N-601, Km 5', ..."

In [80]:
def obtener_address(diccionario):
    if isinstance(diccionario, dict) and 'address' in diccionario:
        return diccionario.get('address')
    return None

In [68]:
lugares['Location'] = lugares['Location'].apply(obtener_address)
lugares.drop(columns=['Location'], inplace=True)

In [72]:
lugares

,Municipio,Latitud,Longitud,Nombre del Lugar,Distancia (m),Location,Address
0,Alcala de henares,40.481840,-3.364497,Museo Arqueológico Regional,418,None,"Plaza Bernardas, s/n"
1,Alcala de henares,40.481840,-3.364497,Museo Casa Natal de Cervantes,223,None,"Calle Mayor, 48"
2,Alcala de henares,40.481840,-3.364497,Centro de Interpretación los Universos de Cerv...,92,None,"Plaza de Cervantes, s/n"
3,Alcala de henares,40.481840,-3.364497,Museo de Arte Iberoamericano de la UAH,230,None,"Plaza de San Diego, s/n"
4,Alcala de henares,40.481840,-3.364497,Museo Cisneriano,668,None,"Paseo Estación, 10"
5,Alcala de henares,40.481840,-3.364497,Museo Perfumería Gal,1271,None,"Avenida de Madrid, 28"
6,Alcala de henares,40.481840,-3.364497,Convento de la Madre de Dios,387,None,None
7,Alcala de henares,40.481840,-3.364497,Palacio Arzobispal,664,None,"Plaza Puerta de Madrid, s/n"
8,Alcobendas,40.540008,-3.635849,Centro de Arte Alcobendas,460,None,"Calle Mariano Sebastián Izuel, Nº 9"
9,Alcobendas,40.540008,-3.635849,Museo Nacional de Ciencia y Tecnologia MUNCYT,508,None,"Calle Pintor Velazquez, 5"
10,Alcobendas,40.540008,-3.635849,MUNCYT Alcobendas,427,None,"Pintor Velázquez, 5"
11,Alcobendas,40.540008,-3.635849,Museo Etnográfico el Caserón,1205,None,"Plaza de la Constitución, s/n"
12,Alcorcon,40.349300,-3.828429,MAVA - Museo de Arte en Vídrio de Alcorcón,1909,None,"Avenida de los Castillos, s/n"
13,Alcorcon,40.349300,-3.828429,Museo de Aeronáutica y Astronáutica de España,2681,None,"Carretera de Extremadura, Km 10,5"
14,Alcorcon,40.349300,-3.828429,Colección municipal de arte contemporáneo de A...,768,None,"Avenida Pablo Iglesias, s/n"
15,Alcorcon,40.349300,-3.828429,Museo Municipal de Arte en Vidrio,1895,None,"Avenida los Castillos, 0"
16,Alpedrete,40.659900,-4.025122,Museo de Astronomía y Geodesia,1214,None,"Plaza Ciencias, 3"
17,Alpedrete,40.659900,-4.025122,Formacion y Reciclaje en Seguridad,2475,None,"Carretera Nacional N-601, Km 5"

In [85]:
museos=buscar_lugares_por_municipios(df_municipios,10027,3000)
museos

,Municipio,Latitud,Longitud,Categoria,Nombre del Lugar,Distancia (m),Location
0,Alcala de henares,40.481840,-3.364497,10027,Museo Arqueológico Regional,418,"{'address': 'Plaza Bernardas, s/n', 'admin_reg..."
1,Alcala de henares,40.481840,-3.364497,10027,Museo Casa Natal de Cervantes,223,"{'address': 'Calle Mayor, 48', 'address_extend..."
2,Alcala de henares,40.481840,-3.364497,10027,Centro de Interpretación los Universos de Cerv...,92,"{'address': 'Plaza de Cervantes, s/n', 'admin_..."
3,Alcala de henares,40.481840,-3.364497,10027,Museo de Arte Iberoamericano de la UAH,230,"{'address': 'Plaza de San Diego, s/n', 'admin_..."
4,Alcala de henares,40.481840,-3.364497,10027,Museo Cisneriano,668,"{'address': 'Paseo Estación, 10', 'admin_regio..."
...,...,...,...,...,...,...,...
109,San sebastian de los reyes,40.547370,-3.626059,10027,Museo Etnográfico el Caserón,42,"{'address': 'Plaza de la Constitución, s/n', '..."
110,San sebastian de los reyes,40.547370,-3.626059,10027,MUNCYT Alcobendas,1575,"{'address': 'Pintor Velázquez, 5', 'admin_regi..."
111,Torres de la alameda,40.402152,-3.360625,10027,Proescen,1217,"{'address': 'Calle Bonn, 66', 'admin_region': ..."
112,Tres cantos,40.606583,-3.706533,10027,Museo de Metrología / Museo de Pesas y Medidas,1473,"{'address': 'Calle del Alfar, 2', 'admin_regio..."
113,Villarejo de salvanes,40.168358,-3.273876,10027,Museo del Cine,274,"{'address': 'Calle Mayor, 49', 'admin_region':..."

In [86]:
museos

,Municipio,Latitud,Longitud,Categoria,Nombre del Lugar,Distancia (m),Location
0,Alcala de henares,40.481840,-3.364497,10027,Museo Arqueológico Regional,418,"{'address': 'Plaza Bernardas, s/n', 'admin_reg..."
1,Alcala de henares,40.481840,-3.364497,10027,Museo Casa Natal de Cervantes,223,"{'address': 'Calle Mayor, 48', 'address_extend..."
2,Alcala de henares,40.481840,-3.364497,10027,Centro de Interpretación los Universos de Cerv...,92,"{'address': 'Plaza de Cervantes, s/n', 'admin_..."
3,Alcala de henares,40.481840,-3.364497,10027,Museo de Arte Iberoamericano de la UAH,230,"{'address': 'Plaza de San Diego, s/n', 'admin_..."
4,Alcala de henares,40.481840,-3.364497,10027,Museo Cisneriano,668,"{'address': 'Paseo Estación, 10', 'admin_regio..."
...,...,...,...,...,...,...,...
109,San sebastian de los reyes,40.547370,-3.626059,10027,Museo Etnográfico el Caserón,42,"{'address': 'Plaza de la Constitución, s/n', '..."
110,San sebastian de los reyes,40.547370,-3.626059,10027,MUNCYT Alcobendas,1575,"{'address': 'Pintor Velázquez, 5', 'admin_regi..."
111,Torres de la alameda,40.402152,-3.360625,10027,Proescen,1217,"{'address': 'Calle Bonn, 66', 'admin_region': ..."
112,Tres cantos,40.606583,-3.706533,10027,Museo de Metrología / Museo de Pesas y Medidas,1473,"{'address': 'Calle del Alfar, 2', 'admin_regio..."
113,Villarejo de salvanes,40.168358,-3.273876,10027,Museo del Cine,274,"{'address': 'Calle Mayor, 49', 'admin_region':..."

In [88]:
museos['adress'] = museos['Location'].apply(obtener_address)

In [90]:
museos.drop(columns=['Location'], inplace=True)

In [91]:
museos

,Municipio,Latitud,Longitud,Categoria,Nombre del Lugar,Distancia (m),adress
0,Alcala de henares,40.481840,-3.364497,10027,Museo Arqueológico Regional,418,"Plaza Bernardas, s/n"
1,Alcala de henares,40.481840,-3.364497,10027,Museo Casa Natal de Cervantes,223,"Calle Mayor, 48"
2,Alcala de henares,40.481840,-3.364497,10027,Centro de Interpretación los Universos de Cerv...,92,"Plaza de Cervantes, s/n"
3,Alcala de henares,40.481840,-3.364497,10027,Museo de Arte Iberoamericano de la UAH,230,"Plaza de San Diego, s/n"
4,Alcala de henares,40.481840,-3.364497,10027,Museo Cisneriano,668,"Paseo Estación, 10"
...,...,...,...,...,...,...,...
109,San sebastian de los reyes,40.547370,-3.626059,10027,Museo Etnográfico el Caserón,42,"Plaza de la Constitución, s/n"
110,San sebastian de los reyes,40.547370,-3.626059,10027,MUNCYT Alcobendas,1575,"Pintor Velázquez, 5"
111,Torres de la alameda,40.402152,-3.360625,10027,Proescen,1217,"Calle Bonn, 66"
112,Tres cantos,40.606583,-3.706533,10027,Museo de Metrología / Museo de Pesas y Medidas,1473,"Calle del Alfar, 2"
113,Villarejo de salvanes,40.168358,-3.273876,10027,Museo del Cine,274,"Calle Mayor, 49"

In [92]:
librerias=buscar_lugares_por_municipios(df_municipios,12080,3000)

In [94]:
librerias['adress'] = librerias['Location'].apply(obtener_address)
librerias.drop(columns=['Location'], inplace=True)
librerias

,Municipio,Latitud,Longitud,Categoria,Nombre del Lugar,Distancia (m),adress
0,Ajalvir,40.534230,-3.480782,12080,Ayuntamiento de Ajalvir,307,"Fuente, 28"
1,Ajalvir,40.534230,-3.480782,12080,Biblioteca Municipal Isabel Allende,2297,"Camino Fresno, 22"
2,Ajalvir,40.534230,-3.480782,12080,Biblioteca Municipal de Ajalvir,286,"Avenida Juan Carlos I, 0"
3,Ajalvir,40.534230,-3.480782,12080,Custodia y Archivo Documental,896,"Calle Andalucía, 2"
4,Ajalvir,40.534230,-3.480782,12080,Ad Astra Global Facilities,1928,"Camino Ancho, s/n"
...,...,...,...,...,...,...,...
281,Villanueva de la canada,40.447211,-4.002795,12080,Biblioteca Municipal Biblioteca Municipal Láza...,207,"Avenida de Gaudí, 27"
282,Villanueva del pardillo,40.494923,-3.960006,12080,Biblioteca Municipal de Villanueva del Pardillo,721,"Calle Real, 4"
283,Villarejo de salvanes,40.168358,-3.273876,12080,Biblioteca Municipal Jacinto Benavente,167,"Calle de Enmedio, 7"
284,Villarejo de salvanes,40.168358,-3.273876,12080,Biblioteca Municipal,167,"Calle de Enmedio, 7"
285,Villaviciosa de odon,40.357379,-3.900233,12080,Biblioteca Municipal,364,"Avenida Príncipe de Asturias, 163"

In [95]:
restaurantes=buscar_lugares_por_municipios(df_municipios,13065,3000)

In [96]:
restaurantes['adress'] = restaurantes['Location'].apply(obtener_address)
restaurantes.drop(columns=['Location'], inplace=True)
restaurantes

,Municipio,Latitud,Longitud,Categoria,Nombre del Lugar,Distancia (m),adress
0,La acebeda,41.086958,-3.624399,13065,La Posada de los Vientos,36,"Calle Encerradero, 2"
1,La acebeda,41.086958,-3.624399,13065,El Acebo,113,"Calle Puerto, 2"
2,Ajalvir,40.534230,-3.480782,13065,Zaino,1658,"Calle Franklin, 5"
3,Ajalvir,40.534230,-3.480782,13065,Tonatiuh BBQ,1943,"Calle la Fragua, 2"
4,Ajalvir,40.534230,-3.480782,13065,Bar Manolo,58,"Plaza de la Villa, 5"
...,...,...,...,...,...,...,...
3510,Zarzalejo,40.539281,-4.162484,13065,Bar los Alamos,309,"Avenida Estación, 37"
3511,Zarzalejo,40.539281,-4.162484,13065,La Parada Resto Bar,392,"Avenida de la Estacion, 4"
3512,Zarzalejo,40.539281,-4.162484,13065,Asador Cruz Verde,474,"Carretera Madrid-Ávila, Km 36"
3513,Zarzalejo,40.539281,-4.162484,13065,Coté Café,1772,"Calle del Venero, 6"
3514,Zarzalejo,40.539281,-4.162484,13065,Restaurante la Posada,1845,"Plaza Constitución, 2"

In [97]:
hospitales=buscar_lugares_por_municipios(df_municipios,15014,3000)

In [98]:
hospitales['adress'] = hospitales['Location'].apply(obtener_address)
hospitales.drop(columns=['Location'], inplace=True)
hospitales

,Municipio,Latitud,Longitud,Categoria,Nombre del Lugar,Distancia (m),adress
0,Alcala de henares,40.481840,-3.364497,15014,Sanatorio Vallés,268,"Calle Santiago, 14"
1,Alcala de henares,40.481840,-3.364497,15014,Hospital HM Vallés,290,"Calle Santiago, 14"
2,Alcala de henares,40.481840,-3.364497,15014,Centro de Día Para Mayores Venecia,294,"Calle Carmen Descalzo, 14"
3,Alcala de henares,40.481840,-3.364497,15014,Corporación Dermoestética,331,"Calle Pere Martell, 33"
4,Alcala de henares,40.481840,-3.364497,15014,Centro de Salud María de Guzmán,1005,"Calle Juan de Borgoña, 0"
...,...,...,...,...,...,...,...
173,Valdemoro,40.188860,-3.671430,15014,Hospital Infanta Elena,2382,"Avenida Reyes Católicos, 21"
174,Valdemoro,40.188860,-3.671430,15014,Idcsalud,2472,"Avenida Reyes Católicos, 21"
175,Villa del prado,40.276475,-4.304803,15014,Hospital Virgen de la Poveda Consejeria Sanida...,76,"Carretera Hospital, s/n"
176,Villaviciosa de odon,40.357379,-3.900233,15014,Centro Medico Prosalud,324,"Calle Eras, 8"
177,Villaviciosa de odon,40.357379,-3.900233,15014,Prouniversidad,2191,"Tajo, Km 4"

In [99]:
tiendas=buscar_lugares_por_municipios(df_municipios,17039,3000)

In [100]:
tiendas['adress'] = tiendas['Location'].apply(obtener_address)
tiendas.drop(columns=['Location'], inplace=True)
tiendas

,Municipio,Latitud,Longitud,Categoria,Nombre del Lugar,Distancia (m),adress
0,Ajalvir,40.534230,-3.480782,17039,Birlache,2558,"Constitucion, 248"
1,Ajalvir,40.534230,-3.480782,17039,Cargotrack,2859,"Los Frailes, 79"
2,Ajalvir,40.534230,-3.480782,17039,Puertas Avenida,881,Carretera a Torrejón Polígono Industrial Cubil...
3,Ajalvir,40.534230,-3.480782,17039,Maria del pilar garate vieira,1793,"Cno. Ancho, 65"
4,El alamo,40.230730,-3.990589,17039,A Tope,35367,"Pico Mampodre, 17"
...,...,...,...,...,...,...,...
1111,Villaviciosa de odon,40.357379,-3.900233,17039,Mantenimiento Arquitectura y Decoracion y Asoc...,1877,"Avenida Nieves, 19"
1112,Villaviciosa de odon,40.357379,-3.900233,17039,Tem Formula,2118,"Calle Puerto Guadarrama - Pol Industrial, 8"
1113,Villaviciosa de odon,40.357379,-3.900233,17039,Plessiglas Diseno,2297,Calle Puerto Cotos Polígono Industrial las Nie...
1114,Villaviciosa de odon,40.357379,-3.900233,17039,Dandara Gestion A.I.E,2419,"Pto. Guadarrama, 54"
1115,Villaviciosa de odon,40.357379,-3.900233,17039,Nuñez de Arenas,2628,"Calle Puerto Navafria, 6"

3. Explorar las categorías disponibles en Foursquare y seleccionar aquellas que se ajusten a los servicios clave que decidáis para vuestra estrategia.

In [101]:
10027	Arts and Entertainment > Museum
12080	Community and Government > Library
13065	Dining and Drinking > Restaurant
15014	Health and Medicine > Hospital
17039	Retail > Fashion Retail

SyntaxError: invalid syntax (4064882344.py, line 1)

Una vez que tengas la información limpia y organizada, almacénala en un archivo CSV que puedas reutilizar en futuros análisis.

In [103]:
df_unido = pd.concat([museos,librerias,restaurantes, hospitales, tiendas], ignore_index=True)
df_unido

,Municipio,Latitud,Longitud,Categoria,Nombre del Lugar,Distancia (m),adress
0,Alcala de henares,40.481840,-3.364497,10027,Museo Arqueológico Regional,418,"Plaza Bernardas, s/n"
1,Alcala de henares,40.481840,-3.364497,10027,Museo Casa Natal de Cervantes,223,"Calle Mayor, 48"
2,Alcala de henares,40.481840,-3.364497,10027,Centro de Interpretación los Universos de Cerv...,92,"Plaza de Cervantes, s/n"
3,Alcala de henares,40.481840,-3.364497,10027,Museo de Arte Iberoamericano de la UAH,230,"Plaza de San Diego, s/n"
4,Alcala de henares,40.481840,-3.364497,10027,Museo Cisneriano,668,"Paseo Estación, 10"
...,...,...,...,...,...,...,...
5204,Villaviciosa de odon,40.357379,-3.900233,17039,Mantenimiento Arquitectura y Decoracion y Asoc...,1877,"Avenida Nieves, 19"
5205,Villaviciosa de odon,40.357379,-3.900233,17039,Tem Formula,2118,"Calle Puerto Guadarrama - Pol Industrial, 8"
5206,Villaviciosa de odon,40.357379,-3.900233,17039,Plessiglas Diseno,2297,Calle Puerto Cotos Polígono Industrial las Nie...
5207,Villaviciosa de odon,40.357379,-3.900233,17039,Dandara Gestion A.I.E,2419,"Pto. Guadarrama, 54"
5208,Villaviciosa de odon,40.357379,-3.900233,17039,Nuñez de Arenas,2628,"Calle Puerto Navafria, 6"

In [104]:
df_unido.to_csv('listalugares.csv')